# Environment variables & secrets
.env
.env.*
!.env.example
.env.testnet

# Node dependencies
node_modules/

# Hardhat build artifacts & cache
artifacts/
cache/
typechain/
typechain-types/

# Testing & coverage
coverage/
coverage.json

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
